@font-face {
  font-family: 'mi';
  src:  url('../fonts/mi.eot?q80gu7');
  src:  url('../fonts/mi.eot?q80gu7#iefix') format('embedded-opentype'),
    url('../fonts/mi.ttf?q80gu7') format('truetype'),
    url('../fonts/mi.woff?q80gu7') format('woff'),
    url('../fonts/mi.svg?q80gu7#mi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.mi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-add:before {
  content: "\e900";
}
.mi-add-circle:before {
  content: "\e901";
}
.mi-agent:before {
  content: "\e902";
}
.mi-apps:before {
  content: "\e903";
}
.mi-archive:before {
  content: "\e904";
}
.mi-arrow-back:before {
  content: "\e905";
}
.mi-arrow-downward:before {
  content: "\e906";
}
.mi-arrow-forward:before {
  content: "\e907";
}
.mi-arrow-upward:before {
  content: "\e908";
}
.mi-atm:before {
  content: "\e909";
}
.mi-bag:before {
  content: "\e90a";
}
.mi-bell-edit:before {
  content: "\e90b";
}
.mi-block:before {
  content: "\e90c";
}
.mi-bookmark:before {
  content: "\e90d";
}
.mi-bookmark-add:before {
  content: "\e90e";
}
.mi-bookmark-added:before {
  content: "\e90f";
}
.mi-bookmark-remove:before {
  content: "\e910";
}
.mi-bookmarks:before {
  content: "\e911";
}
.mi-box:before {
  content: "\e912";
}
.mi-box-check:before {
  content: "\e913";
}
.mi-camera:before {
  content: "\e914";
}
.mi-camera-add:before {
  content: "\e915";
}
.mi-camera-off:before {
  content: "\e916";
}
.mi-cancel:before {
  content: "\e917";
}
.mi-cart:before {
  content: "\e918";
}
.mi-category:before {
  content: "\e919";
}
.mi-close:before {
  content: "\e91a";
}
.mi-cloud:before {
  content: "\e91b";
}
.mi-cloud-done:before {
  content: "\e91c";
}
.mi-cloud-download:before {
  content: "\e91d";
}
.mi-cloud-off:before {
  content: "\e91e";
}
.mi-cloud-upload:before {
  content: "\e91f";
}
.mi-collapse:before {
  content: "\e920";
}
.mi-collapse-content:before {
  content: "\e921";
}
.mi-crop:before {
  content: "\e922";
}
.mi-crop-free:before {
  content: "\e923";
}
.mi-currency-exchange:before {
  content: "\e924";
}
.mi-day:before {
  content: "\e925";
}
.mi-delete:before {
  content: "\e926";
}
.mi-doctor:before {
  content: "\e927";
}
.mi-done:before {
  content: "\e928";
}
.mi-done-all:before {
  content: "\e929";
}
.mi-done-outline:before {
  content: "\e92a";
}
.mi-do-not-disturb:before {
  content: "\e92b";
}
.mi-do-not-disturb-off:before {
  content: "\e92c";
}
.mi-download:before {
  content: "\e92d";
}
.mi-download-done:before {
  content: "\e92e";
}
.mi-downloading:before {
  content: "\e92f";
}
.mi-download-off:before {
  content: "\e930";
}
.mi-draft:before {
  content: "\e931";
}
.mi-drop-down:before {
  content: "\e932";
}
.mi-drop-up:before {
  content: "\e933";
}
.mi-edit:before {
  content: "\e934";
}
.mi-edit-off:before {
  content: "\e935";
}
.mi-edit-square:before {
  content: "\e936";
}
.mi-emergency:before {
  content: "\e937";
}
.mi-error:before {
  content: "\e938";
}
.mi-expand:before {
  content: "\e939";
}
.mi-expand-content:before {
  content: "\e93a";
}
.mi-eye:before {
  content: "\e93b";
}
.mi-eye-off:before {
  content: "\e93c";
}
.mi-female:before {
  content: "\e93d";
}
.mi-file-edit:before {
  content: "\e93e";
}
.mi-filter:before {
  content: "\e93f";
}
.mi-filter-off:before {
  content: "\e940";
}
.mi-first:before {
  content: "\e941";
}
.mi-flip:before {
  content: "\e942";
}
.mi-folder:before {
  content: "\e943";
}
.mi-folder-add:before {
  content: "\e944";
}
.mi-folder-off:before {
  content: "\e945";
}
.mi-folder-open:before {
  content: "\e946";
}
.mi-folder-shared:before {
  content: "\e947";
}
.mi-folder-special:before {
  content: "\e948";
}
.mi-folder-topic:before {
  content: "\e949";
}
.mi-folder-zip:before {
  content: "\e94a";
}
.mi-gif:before {
  content: "\e94b";
}
.mi-group:before {
  content: "\e94c";
}
.mi-group-add:before {
  content: "\e94d";
}
.mi-heart:before {
  content: "\e94e";
}
.mi-heart-add:before {
  content: "\e94f";
}
.mi-heart-o:before {
  content: "\e950";
}
.mi-heart-o-remove:before {
  content: "\e951";
}
.mi-help:before {
  content: "\e952";
}
.mi-history:before {
  content: "\e953";
}
.mi-history-off:before {
  content: "\e954";
}
.mi-home:before {
  content: "\e955";
}
.mi-image:before {
  content: "\e956";
}
.mi-image-add:before {
  content: "\e957";
}
.mi-image-landscape:before {
  content: "\e958";
}
.mi-image-off:before {
  content: "\e959";
}
.mi-images:before {
  content: "\e95a";
}
.mi-image-search:before {
  content: "\e95b";
}
.mi-inbox:before {
  content: "\e95c";
}
.mi-inbox-empty:before {
  content: "\e95d";
}
.mi-inbox-settings:before {
  content: "\e95e";
}
.mi-info:before {
  content: "\e95f";
}
.mi-input:before {
  content: "\e960";
}
.mi-input-circle:before {
  content: "\e961";
}
.mi-insights:before {
  content: "\e962";
}
.mi-interests:before {
  content: "\e963";
}
.mi-label:before {
  content: "\e964";
}
.mi-label-2:before {
  content: "\e965";
}
.mi-label-2-match:before {
  content: "\e966";
}
.mi-label-add:before {
  content: "\e967";
}
.mi-label-auto:before {
  content: "\e968";
}
.mi-label-o:before {
  content: "\e969";
}
.mi-label-off:before {
  content: "\e96a";
}
.mi-language:before {
  content: "\e96b";
}
.mi-last:before {
  content: "\e96c";
}
.mi-link:before {
  content: "\e96d";
}
.mi-link-off:before {
  content: "\e96e";
}
.mi-login:before {
  content: "\e96f";
}
.mi-logout:before {
  content: "\e970";
}
.mi-male:before {
  content: "\e971";
}
.mi-masks:before {
  content: "\e972";
}
.mi-menu:before {
  content: "\e973";
}
.mi-menu-open:before {
  content: "\e974";
}
.mi-more:before {
  content: "\e975";
}
.mi-next:before {
  content: "\e976";
}
.mi-next-plan:before {
  content: "\e977";
}
.mi-night:before {
  content: "\e978";
}
.mi-outbox:before {
  content: "\e979";
}
.mi-output:before {
  content: "\e97a";
}
.mi-output-circle:before {
  content: "\e97b";
}
.mi-paid:before {
  content: "\e97c";
}
.mi-palette:before {
  content: "\e97d";
}
.mi-patient:before {
  content: "\e97e";
}
.mi-patient-o:before {
  content: "\e97f";
}
.mi-payments:before {
  content: "\e980";
}
.mi-previous:before {
  content: "\e981";
}
.mi-publish:before {
  content: "\e982";
}
.mi-radio:before {
  content: "\e983";
}
.mi-radio-check:before {
  content: "\e984";
}
.mi-recommend:before {
  content: "\e985";
}
.mi-redo:before {
  content: "\e986";
}
.mi-refresh:before {
  content: "\e987";
}
.mi-remove:before {
  content: "\e988";
}
.mi-rotate-left:before {
  content: "\e989";
}
.mi-rotate-right:before {
  content: "\e98a";
}
.mi-save:before {
  content: "\e98b";
}
.mi-save-as:before {
  content: "\e98c";
}
.mi-search:before {
  content: "\e98d";
}
.mi-sell:before {
  content: "\e98e";
}
.mi-send:before {
  content: "\e98f";
}
.mi-settings:before {
  content: "\e990";
}
.mi-share:before {
  content: "\e991";
}
.mi-share-off:before {
  content: "\e992";
}
.mi-sort:before {
  content: "\e993";
}
.mi-sort-by-alpha:before {
  content: "\e994";
}
.mi-star:before {
  content: "\e995";
}
.mi-star-half:before {
  content: "\e996";
}
.mi-star-o:before {
  content: "\e997";
}
.mi-stars:before {
  content: "\e998";
}
.mi-style:before {
  content: "\e999";
}
.mi-support:before {
  content: "\e99a";
}
.mi-texture:before {
  content: "\e99b";
}
.mi-thumbs-down:before {
  content: "\e99c";
}
.mi-thumbs-up:before {
  content: "\e99d";
}
.mi-thumbs-up-down:before {
  content: "\e99e";
}
.mi-time:before {
  content: "\e99f";
}
.mi-timelapse:before {
  content: "\e9a0";
}
.mi-timeline:before {
  content: "\e9a1";
}
.mi-today:before {
  content: "\e9a2";
}
.mi-trans:before {
  content: "\e9a3";
}
.mi-trending:before {
  content: "\e9a4";
}
.mi-trending-down:before {
  content: "\e9a5";
}
.mi-trending-up:before {
  content: "\e9a6";
}
.mi-unarchive:before {
  content: "\e9a7";
}
.mi-undo:before {
  content: "\e9a8";
}
.mi-unfold-less:before {
  content: "\e9a9";
}
.mi-unfold-more:before {
  content: "\e9aa";
}
.mi-update:before {
  content: "\e9ab";
}
.mi-update-off:before {
  content: "\e9ac";
}
.mi-upload:before {
  content: "\e9ad";
}
.mi-upload-off:before {
  content: "\e9ae";
}
.mi-user:before {
  content: "\e9af";
}
.mi-user-2:before {
  content: "\e9b0";
}
.mi-user-add:before {
  content: "\e9b1";
}
.mi-user-off:before {
  content: "\e9b2";
}
.mi-user-search:before {
  content: "\e9b3";
}
.mi-user-settings:before {
  content: "\e9b4";
}
.mi-verified:before {
  content: "\e9b5";
}
.mi-view-cards:before {
  content: "\e9b6";
}
.mi-view-grid:before {
  content: "\e9b7";
}
.mi-view-list:before {
  content: "\e9b8";
}
.mi-wallet:before {
  content: "\e9b9";
}
.mi-wallpaper:before {
  content: "\e9ba";
}
.mi-warning:before {
  content: "\e9bb";
}
.mi-warning-off:before {
  content: "\e9bc";
}
.mi-widgets:before {
  content: "\e9bd";
}
.mi-zoom-in:before {
  content: "\e9be";
}
.mi-zoom-out:before {
  content: "\e9bf";
}
